public enum Secrets {
  public enum OAuth {
    public static let consumerKey = "Client ID"
    public static let consumerSecret = "Client Secret"
    public static let scheme = "scheme"
    public static let host = "oauth-callback"
    public static let callbackURL = "\(scheme)://\(host)"
  }
}
